h1{
    font-family: cambria;
    color: rgb(20, 20, 168);
}


button{
    width: 200px;
    height: 50px;
    font-size: large;
    font-family: cambria;
    color: white;
    background-color: rgb(91, 91, 192);
    border: 0px;
    border-radius: 200px;
    transition: box-shadow 0.3s ease; 
}

button:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
}

label{
    font-family: cambria;
}

input{
    border-radius: 30px;
    background-color: rgb(65, 65, 192);
    font-family: cambria;
    font-size: 15px;
    color: white;
}

a{
    font-family: cambria;   
}